# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.env.*
!.env.example

/clients/react/dist/
/clients/react/node_modules/
/clients/reach/.DS_Store

grpcurl-test-commands.sh

/bin/
/package/
/examples/
/cache/
.go.local

*~

/certs/
/client-certs/
*.crt
*.key
*.pem
/clients/react/test/integration/certs/
